@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url('/img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::before {
    left: 100%;
}

.logo {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Esto mantiene la proporción de la imagen */
    color: #fff; /* Estos estilos no son necesarios para una imagen */
    text-decoration: none; /* Estos estilos no son necesarios para una imagen */
    font-weight: 600; /* Estos estilos no son necesarios para una imagen */
    cursor: default; /* Estos estilos no son necesarios para una imagen */
}

.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #f00;
}

/* galeria*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
}
body{
    background-color: #ecf4fb;
}
h1::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    top: 50%;
    z-index: -1;
}
h1 span{
    background-color:#ecf4fb;
    padding: 0 15px;
}
.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}
.img-gallery img:hover{
    transform: scale(1.2);
}
.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.ful-img img{
    width: 90%;
    max-width: 600px;
}



/* footer */



:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --whatsapp: green;
}
.redes-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro para mayor visibilidad */
    z-index: 1000; /* Ajusta el z-index según sea necesario */
}

.redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: rgb(0, 0, 0);
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
}

.redes-container ul li .github:hover {
    background: var(--github);
}

.redes-container ul li .whatsapp:hover {
    background: var(--whatsapp);
}

.titulo {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: white; /* Agrega este estilo para hacer que el texto sea blanco */
}

.titulo::before,
.titulo::after {
    content: "";
    display: block;
    height: 5px;
    flex: 1;
    background: linear-gradient(to left, red, #012);
    margin-right: .5em;
}

.titulo::after {
    background: linear-gradient(to right, red, #012);
    margin-right: 0;
    margin-left: .5em;
}
